* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(1313034.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

