@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Mecha;
    src: url(GemunuLibre-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(Background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Mecha', sans-serif;
    text-shadow: 2px 2px 2px #111;
}

.apresentacao {

    flex: 1;
    display: flex;
    width: 50%;
    padding-bottom: 10rem;
    padding-left: 9rem;

}

.apresentacao__conteudo {

    margin-top: 10rem;
    width: 45rem;
    display: flex;
    flex-direction: column;

    gap: 3rem;
}

.apresentacao__conteudo__titulo {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2px #111;
    margin-right: 19.5rem;


}

#titulo_destaque {

    color: red;

}

.apresentacao_descricao {

    margin-left: 3rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px #111;
    font-size: 2rem;
}

.button-cadastro {

    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5rem;
    width: 40%;
    border-style: solid;
    border-radius: 1rem;
    border-color: red;
    margin-left: 13rem;
    padding-bottom: 0.5rem;
    text-shadow: 2px 2px 2px #111;

}

.button-cadastro:hover {

    color: red;
}

.cabecalho {

    padding: 3% 0% 0% 10%;

}

.cabecalho_menu {

    display: flex;
    gap: 4rem;


}

.cabecalho_menu_link {

    font-size: 3rem;
    color: red;
    text-decoration: none;
    text-shadow: 2px 2px 2px #111;

}

.cabecalho_menu_link:hover {


    color: white;

}

.rodape {

    text-align: center;
}

.rodape_titulo {

    color: red;
    font-size: 2rem;

}

@media (max-width: 901px) {

    .button-cadastro {
        font-size: 2rem;
        margin-left: 7rem;
        border-style: solid;
        border-radius: 0.8rem;

    }

    .apresentacao {
        padding-left: 4rem;
    }




}

@media (max-width: 785px) {

    .button-cadastro {
        font-size: 2rem;
        margin-left: 7rem;
        border-style: solid;
        border-radius: 0.8rem;



    }
}

@media (max-width: 691px) {

    .apresentacao_descricao {

        margin-left: 0.5rem;
    }

    .button-cadastro {

        margin-left: 10rem;



    }


}