@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Mecha;
    src: url(GemunuLibre-Light.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(Background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.apresentacao {

    flex: 1;
    display: flex;
    align-items: center;
    width: 30%;
    padding-bottom: 200px;
    padding-left:100px;
     


}


.apresentacao__conteudo__titulo{
   
    font-size: 2rem;
    color: white;

}

#titulo_destaque{
    color: red;
}

.apresentacao_descricao{


    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 1px #111;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 100px;
    

}

.cabecalho_menu_link {

    font-family: 'Mecha', sans-serif;
    font-size: 60px;
    color: red;
    text-decoration: none;
    
    /*text-shadow: 1px 1px 1px #111111;*/

}

.cabecalho_menu_link:hover {

    font-family: 'Mecha';
    color: white;

}

.rodape {

    text-align: center;
}

.rodape_titulo {
    font-family: 'Mecha',sans-serif;
    color: red;
    font-size: 60px;
    
    
}